.global {
  font-family: Dana;
  direction: rtl;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.phoneSize {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 428px;
  height: 1183px;
}
